img{
  width: 100%;
}

.navbar{
  margin-bottom: 0;
}

.jumbotron{
  text-align: center;
}

.carousel{
  background: black;
}

/* address p{
  margin: 0;
} */


@media only screen and (max-width: 768px) {
  .display-4{
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 524px){
  .display-4{
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.2;
  }
  .lead{
    font-size: 1rem;
    line-height: 1.6;
  }

  .master{
    font-size: 1rem;
  }
}
